{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h1>Welcome, {{user_name}}!</h1>
<h2>Role: {{user_role}}</h2>
{% else %}
<h1>Welcome to Softloans!</h1>
{% endif %}
<p>Ez loans belli belli</p>

<form action="{% url 'main:search_results' %}" method="get">
    <input type="text" name="location" placeholder="Cerca un annuncio...">
    <input type="date" name="checkin" placeholder="Cerca da questa data in poi">
    <input type="number" name="guests" placeholder="Min">
    <input type="number" name="guests" placeholder="Max">
    <button type="submit">Search</button>
</form>
<br />
<br />


<div class="deals-container">
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 1">
        <h3>Scialo lo Sukkia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 2">
        <h3>Annuncio 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 3">
        <h3>Annuncio 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 4">
        <h3>Annuncio 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 5">
        <h3>Annuncio 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <div class="deal">
        <img src="{% static '/images/bistecca.jpg' %}" alt="Deal 6">
        <h3>Annuncio 6</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#">Visualizza</a>
    </div>
    <!-- Add more deal items here -->
</div>


{% endblock %}

